/*--- Qinyue LIU - Yuhe TANG - M2 SDL parcours IDL ---*/
#introLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

#introRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#gameLeft {
    width: 38.2%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#gameRight {
    width: 61.8%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#gameContent {
    height: 90%;
    margin: 3em;
}

#wordlist div  {
    width: 61.8%;
    white-space:normal;
}

.bas {
    position: relative;
    width: 10%;
    height: 10%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

#introLeft p {
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

#nbPers {
    margin: 2em;
}

#commencer {
    margin: 4em;
}

#gameContent button:hover {
    background-color:rgba(0,160,196,0.5);
    cursor: pointer;
}

.choisi {
    background-color:rgb(233,87,112);
}

#wordlist a {
    margin-bottom: 2em;
    border: dotted;
}

#fini {
    margin: 2em;
}




/*--- Qinyue LIU - Yuhe TANG - M2 SDL parcours IDL ---*/