{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap.css' %}?ver=10011555" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'main.css' %}?ver=10011555" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>

    <div id="gameLeft">
        <div id="gameContent">
            {{ reponse }}
        </div>

        <div class="bas" id="playerX">
            {% trans 'Joueur' %} 1
        </div>
        <div class="bas" id="divEnsuite" style="display: none">
            <button id="ensuite">{% trans 'la prochaine phrase' %}</button>
        </div>
    </div>

    <div id="gameRight">
        <h1>{% trans 'Mots choisis' %} </h1>
        <p id="nb_pers"></p>
        <div id="wordlist">
            <p>Joueur 1</p>
            <p>mot 1</p>
            <p>mot 2</p>
            <p>Joueur 2</p>
            <p>mot 1</p>
            <p>mot 2</p>
        </div>
        <button id="fini" type="button" class="btn btn-outline-success">{% trans 'Fini' %}</button>
    </div>

</body>

</html>

{% block javascript %}
<script src="{% static 'scripts/game.js' %}?ver=13010246"></script>
{% endblock %}