<!--- Qinyue LIU - Yuhe TANG - M2 SDL parcours IDL - --->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
{% trans "Action ou vérité" as the_title %}

<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap.css' %}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>

    <div id="introLeft">
        <h1>{{ the_title }}</h1>
        <p>{% trans 'Bonjour, bienvenue dans le site Action ou vérité ! ' %}</p>
        <p>{% trans "C'est un jeu simple pour vous mobiliser la production orale." %}</p>
        <p> - {% trans 'Indiquez le nombre de participants' %} 👉</p>
        <p> - {% trans "Ensuite chacun va choisir les mots qu'il/elle connaît" %}</p>
        <p> - {% trans 'Quand vous avez des phrases affichées, vous pouvez commencer le jeu Action ou vérité comme vous voulez : un par un ou aléatoirement...' %}</p>
        <p>{% trans 'Essayez de parler seulement français !' %}</p>
    </div>

    <div id="introRight">
        <h1>{% trans 'Nombre de participants' %} : </h1>
        <div id="nbPers">
            <textarea class="form-control" name="inputNb" id="inputNb" cols="20" rows="2"
                placeholder={% trans " Ecrivez ici le nombre de personnes ... " %}></textarea>
        </div>


        <div id='div_change_language_form' style="font-size:12;height:30px">
            <div style="flex: 1; align-content:center;">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
            
                    <input type="submit"
                           value={% translate "Switch" %} style="font-size:12;height:20px">
                </form>
            </div>
        </div>


        <button id="commencer" type="button" class="btn btn-outline-success">{% trans 'Commencer' %}</button>
    </div>

</body>

</html>
<!--- <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> --->
{% block javascript %}
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}